{% extends 'adilet_djuraev/index.html.twig' %}

{% block content %}
    <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
        <h1>Search</h1>
    </section>
{% endblock %}